<article class="column small-4">
    <a href="#content/{{content_id}}">
      <div class="crop" data-content="{{content_id}}" style="background-image:url({{renderFeedItem feed_img}})">
        <div class="overlay">
          <div class="info-container">
            <h2 class="title">{{title}}</h2>
            <p class="author">{{authors.0.name}}</p>
          </div>
        </div>
      </div>
    </a>
</article>
