<div class="column small-6 medium-4 large-2 user-profile-blurbs-container">
      <section class="user-profile-blurb">
          <a href="#/users/{{user_id}}">
          <div class="user-icon" style="background-image: url('{{picture}}');"></div></a>
          <div class="user-name">{{first_name}} {{last_name}}</div>
          <div class="user-city">New York</div>
          <!-- TODO Website and Email classes need to be swapped -->
          <!-- TODO Website class spelled wrong -->
          <div class="user-props">{{props}} Props</div>
          <!-- TODO Link this up -->
          
          <a class="user-following-button user-button" data-user="{{user_id}}">Following</a>

      </section>
  </div>
</div>
