<section id="bio">
  <div class="user-icon" style="background-image: url('{{picture}}');"></div>
  <div class="user-name">{{first_name}} {{last_name}}</div>
  <div class="description">{{description}}</div>
  <div class="email"><a href="{{website}}" target="_blank" class="text-link">{{website}}</a></div>
  <div class="webiste"><span>Contact:</span> <a href="mailto:{{email}}" class="text-link">{{email}}</a></div>
  <div class="bio">{{biography}}</div>
</section>
